nationalparks_schema20230408.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema 
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:mix="http://www.loc.gov/mix/v20"
    xmlns:dcterms="http://purl.org/dc/terms/"
    xmlns:cd="http://www.getty.edu/CDWA/CDWALite"

    targetNamespace="https://aewalcott.github.io/IS575nationalparks"
    xmlns="https://aewalcott.github.io/IS575nationalparks"
    
    elementFormDefault="qualified">

    <xs:import namespace="http://www.loc.gov/mix/v20" schemaLocation="https://www.loc.gov/standards/mix/mix.xsd"/>
    <xs:import namespace="http://www.getty.edu/CDWA/CDWALite" schemaLocation="https://www.getty.edu/CDWA/CDWALite/CDWALite-xsd-public-v1-1.xsd"/>
    <xs:import namespace="http://purl.org/dc/terms/" schemaLocation="http://dublincore.org/schemas/xmls/qdc/dcterms.xsd"/>

<!-- This one XSD element is a container for all fifteen XML elements -->
    <xs:element name="NationalPark">
        <xs:complexType>
            <xs:sequence>
                <!-- 1 - Park Name -->
                <xs:element name="legalName" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Official name of the park.  
                            CDWALite "termsourse" is used in conjunction with Getty's Thesaurus of Geographic Names as controlled vocabulary. 
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="name" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                        </xs:sequence>
                        <xs:attribute ref="cd:termsource"></xs:attribute>
                    </xs:complexType>

                </xs:element>
                <!-- 2 - Park Addresses -->
                <xs:element name="postalAddress" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>Mailing and/or navigation address(es) of the park </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="streetAddress" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="postOfficeBoxNumber" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="addressLocality" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="addressRegion" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="addressCountry" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <!-- Note about postalCode subelement: 
                                -Official U.S. postal code is a ten digit alphanumeric string (NNNNN-NNNN).  Even though most users will 
                                only use the five digit numeric zip code, this subelement needs to be a string.
                                -Also using string allows for non-U.S. postal codes -->
                            <xs:element name="postalCode" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                
                <!-- 3 - Park Description -->    
                <xs:element name="parkDescription" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>Brief description of the park</xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <!-- 4 - U.S. Region -->    
                <xs:element name="areaServed" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            The geographic area where a service or offered item is provided; used to specify geographic region in which a U.S. National Park resides. 
                        </xs:documentation>
                    </xs:annotation>
                    <xs:simpleType>
                        <xs:restriction base="xs:string">
                            <xs:enumeration value="Northeast"/>
                            <xs:enumeration value="Southeast"/>
                            <xs:enumeration value="Midwest"/>
                            <xs:enumeration value="West"/>
                            <xs:enumeration value="Southwest"/>
                            <xs:enumeration value="Non-Contiguous"/>
                        </xs:restriction>
                    </xs:simpleType>
                </xs:element>                   
                    
                
                                    
                
                <!-- 5 - Available Lodging -->
                <xs:element name="availableLodging" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Holding element for sub-elements that describe types of lodging that are available at the given park, along with extra information about each type of lodging. 
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="lodgingType" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="lodgingInfoUrl" minOccurs="1" maxOccurs="1" type="xs:string" />
                                        <xs:element name="adaAccessible" minOccurs="1" maxOccurs="1" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Yes" />
                                                    <xs:enumeration value="No" />
                                                    <xs:enumeration value="Unknown" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="permitRequired" minOccurs="1" maxOccurs="1" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Yes" />
                                                    <xs:enumeration value="No" />
                                                    <xs:enumeration value="Recommended" />
                                                    <xs:enumeration value="Varies" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="reservationsReq" minOccurs="1" maxOccurs="1" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Yes" />
                                                    <xs:enumeration value="No" />
                                                    <xs:enumeration value="Recommended" />
                                                    <xs:enumeration value="Varies" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="petFriendly" minOccurs="1" maxOccurs="1" >
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Yes" />
                                                    <xs:enumeration value="No" />
                                                    <xs:enumeration value="Unknown" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute name="type">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:string">
                                                <xs:enumeration value="tentCamping" />
                                                <xs:enumeration value="rvCamping" />
                                                <xs:enumeration value="wildernessCamping" />
                                                <xs:enumeration value="primitiveCamping" />
                                                <xs:enumeration value="cabinRental" />
                                                <xs:enumeration value="lodgeOrHotel" />
                                                <xs:enumeration value="horseLodging" />
                                                <xs:enumeration value="none" />
                                            </xs:restriction>
                                        </xs:simpleType>
                                    </xs:attribute>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
              
                <!-- 6 - Contact Info  -->
                <xs:element name="contactInfo" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Holding element for sub-elements that provide several ways of contacting the park, including: email address, phone number, website URL, Facebook URL, Instagram URL, and Twitter handle. 
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="emailAddress" minOccurs="0" maxOccurs="1" type="xs:string" />
                            <xs:element name="phoneNumber" minOccurs="0" maxOccurs="1" type="xs:string" />
                            <xs:element name="webUrl" minOccurs="0" maxOccurs="1" type="xs:string" />
                            <xs:element name="facebookUrl" minOccurs="0" maxOccurs="1" type="xs:string" />
                            <xs:element name="instagramUrl" minOccurs="0" maxOccurs="1" type="xs:string" />
                            <xs:element name="twitterHandle" minOccurs="0" maxOccurs="1" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>


                <!-- 7 - Access Fees -->    
                <xs:element name="accessFees" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Holding element for sub-elements that describe the fees required to gain access or entry to a park or section of a park.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="passType" minOccurs="1" maxOccurs="unbounded">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Annual Pass"/>
                                        <xs:enumeration value="Single Vehicle"/>
                                        <xs:enumeration value="Per Person"/>
                                        <xs:enumeration value="Motorcycle"/>
                                        <xs:enumeration value="Not Applicable"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="URL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>    
                    
                <!-- 8 Park Facts -->    
                <xs:element name="parkFacts" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>Holding element for sub-elements that describe the size of a U.S. National Park in miles/km and the weather/climate of the park. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="climateZone" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Tropical Climate"/>
                                        <xs:enumeration value="Dry Climate"/>
                                        <xs:enumeration value="Moist Subtropical Mid-Latitude Climate"/>
                                        <xs:enumeration value="Moist Continental Mid-Latitude Climate"/>
                                        <xs:enumeration value="Polar Climate"/>
                                        <xs:enumeration value="Highlands"/>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="currentWeather" minOccurs="1" maxOccurs="1" type="xs:string"/>
                            <xs:element name="parkSQmi" minOccurs="1" maxOccurs="1" type="xs:decimal"/>
                            <xs:element name="parkSQkm" minOccurs="1" maxOccurs="1" type="xs:decimal"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- 9 - Park Highlights -->
                <xs:element name="parkHighlights" minOccurs="0" maxOccurs="unbounded" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>"Can't Miss" attractions at the park.</xs:documentation>
                    </xs:annotation>
                </xs:element>    
                
                <!-- 10 Trip Planning & Logistics -->    
                <xs:element name="parkLogistics" minOccurs="1" maxOccurs="1">
                    <xs:annotation>
                        <xs:documentation>
                            Holding element for the sub-elements that describe the logistics of planning a visit to a U.S. National Park: 
                            safety alerts, operating hours, maps, and accessibility info are included. 
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="npsParkMapURL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="alertsURL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="eventCalendarURL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="tripPlanningGuideURL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="safetyInfoURL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="accessibilityInfoURL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="parkAccessURL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                            <xs:element name="visitorCenterInfo" minOccurs="1" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="visitorCenterName" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                                        <xs:element name="visitorCenterOperatingSeasons" minOccurs="1" maxOccurs="1">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:string">
                                                    <xs:enumeration value="Seasonal"/>
                                                    <xs:enumeration value="Year-Round"/>
                                                    <xs:enumeration value="Closed National Holidays"/>
                                                    <xs:enumeration value="Varies"/>
                                                    <xs:enumeration value="Winter Closure"/>
                                                    <xs:enumeration value="Closed"></xs:enumeration>
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="visitorCenterOperatingHoursURL" minOccurs="1" maxOccurs="1" type="xs:string"></xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>  

                
                <!-- 11 - Pet Policy for Park Visitors -->
                <xs:element name="petPolicy" minOccurs="1" maxOccurs="1" >
                    <xs:annotation>
                        <xs:documentation>Holding element for sub-elements describing the park’s policy for bringing pets on park property. </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="petsAllowed" minOccurs="1" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Yes" />
                                        <xs:enumeration value="No" />
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="petPolicyUrl" minOccurs="0" maxOccurs="1" type="xs:string" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                
                <!-- 12 - Activities -->
                <xs:element name="activities" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Activities available at the park and information on accessing those activities, including if fees, permits, ADA accessibility, etc.</xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="reservationReq" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Yes"></xs:enumeration>
                                        <xs:enumeration value="No"></xs:enumeration>
                                        <xs:enumeration value="Recommended"></xs:enumeration>
                                        <xs:enumeration value="Varies"></xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="permitRequired" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Yes"></xs:enumeration>
                                        <xs:enumeration value="No"></xs:enumeration>
                                        <xs:enumeration value="Recommended"></xs:enumeration>
                                        <xs:enumeration value="Varies"></xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="activityFee" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Yes"></xs:enumeration>
                                        <xs:enumeration value="No"></xs:enumeration>
                                        <xs:enumeration value="Unknown"></xs:enumeration>
                                        <xs:enumeration value="Varies"></xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="adaAccessible" minOccurs="0" maxOccurs="1">
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:enumeration value="Yes"></xs:enumeration>
                                        <xs:enumeration value="No"></xs:enumeration>
                                        <xs:enumeration value="Unknown"></xs:enumeration>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                            <xs:element name="activitySubtype" minOccurs="0" maxOccurs="unbounded" type="xs:string"></xs:element>
                            <xs:element name="activityUrl" minOccurs="0" maxOccurs="1" type="xs:string"></xs:element>
                        </xs:sequence>
                        <xs:attribute name="activityType">
                            <xs:simpleType>
                                <xs:restriction base="xs:string">
                                    <xs:enumeration value="Bicycling"></xs:enumeration>
                                    <xs:enumeration value="Boating-Motorized"></xs:enumeration>
                                    <xs:enumeration value="Boating-KayakORCanoe"></xs:enumeration>
                                    <xs:enumeration value="Boating-Rafting"></xs:enumeration>
                                    <xs:enumeration value="Climbing"></xs:enumeration>
                                    <xs:enumeration value="Educational Opportunities-Cultural"></xs:enumeration>
                                    <xs:enumeration value="Educational Opportunities-Historical"></xs:enumeration>
                                    <xs:enumeration value="Educational Opportunities-Natural"></xs:enumeration>
                                    <xs:enumeration value="Fishing"></xs:enumeration>
                                    <xs:enumeration value="Geocaching"></xs:enumeration>
                                    <xs:enumeration value="Geological Features"></xs:enumeration>
                                    <xs:enumeration value="Hiking-Day"></xs:enumeration>
                                    <xs:enumeration value="Hiking-Back Country"></xs:enumeration>
                                    <xs:enumeration value="Hunting"></xs:enumeration>
                                    <xs:enumeration value="Photography"></xs:enumeration>
                                    <xs:enumeration value="Snowmobiling"></xs:enumeration>
                                    <xs:enumeration value="SnowboardingORSnowskiing"></xs:enumeration>
                                    <xs:enumeration value="Stargazing"></xs:enumeration>
                                    <xs:enumeration value="Swimming"></xs:enumeration>
                                    <xs:enumeration value="Tidepooling"></xs:enumeration>
                                    <xs:enumeration value="Tours-Guided"></xs:enumeration>
                                    <xs:enumeration value="Tours-Self-Guided"></xs:enumeration>
                                    <xs:enumeration value="Wildlife Viewing"></xs:enumeration>
                                </xs:restriction>
                            </xs:simpleType>
                        </xs:attribute>
                    </xs:complexType>        
                </xs:element>

                <!-- 13 - Park Images -->
                <xs:element name="parkImages" minOccurs="0" maxOccurs="unbounded" type="mix:BasicDigitalObjectInformationType">
                    <xs:annotation>
                        <xs:documentation>
                            Holding element for sub-elements describing digital images of the park or its features. 
                            Element uses Library of Congress "mix" element for digital imagery.  
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                
                <!-- 14 - Park Entrance Passes -->
                <xs:element name="parkEntrancePasses" minOccurs="1" maxOccurs="1" type="xs:string">
                    <xs:annotation>
                        <xs:documentation>
                            Element with URL to link types of discounts or annual passes that are available 
                            to guests of a U.S. National Park that meet requirements for each pass type. 
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>

                <!-- 15 - Languages  -->
                <xs:element name="availableLanguage" minOccurs="1" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            Holding element for sub-elements describing the language(s) by which visitors may communicate with staff or other park resources. 
                            Uses CDWALite "termsource" for to standardize vocatulary. 
                            Schema recommends using Dublin Core "ISO639-2" as controlled vocabulary for languages. 
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="language" minOccurs="1" maxOccurs="unbounded" type="xs:string"></xs:element>
                        </xs:sequence>
                        <xs:attribute ref="cd:termsource"></xs:attribute>
                    </xs:complexType>
                </xs:element>
             </xs:sequence>                    
        </xs:complexType>
    </xs:element>
</xs:schema>
